.custom-card {
  background-size: contain;
  background-repeat: no-repeat;
  height: 200px;
  cursor: pointer;
}

.classroom-grid{
  display: grid;
  grid-template-columns: repeat(1, minmax(300px, 1fr));
  grid-gap: 30px;
  justify-content: center;
}


@media only screen and (min-width: 540px){
  .classroom-grid{
    grid-template-columns: repeat(2, minmax(300px, 1fr));
  }
}

@media only screen and (min-width: 991px){
  .classroom-grid{
    grid-template-columns: repeat(3, minmax(300px, 1fr));
  }
}

@media only screen and (min-width: 1400px){
  .classroom-grid{
    grid-template-columns: repeat(4, minmax(300px, 1fr));
  }
}